partial/quote-pdf-partial/force-app/main/default/flows/Account_Update_CSM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>CSM_Assignment</name>
        <label>CSM Assignment</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Over_15K</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_ARR__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <stringValue>15,000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_CSM_Tier_3</targetReference>
            </connector>
            <label>Over 15K</label>
        </rules>
        <rules>
            <name>Under_15K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_ARR__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <stringValue>15,000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_CSM_Tier_1_2</targetReference>
            </connector>
            <label>Under 15K</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account-Update CSM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account-Update CSM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_CSM_Tier_3</name>
        <label>Add CSM Tier 3</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Customer_Success_Manager__c</field>
            <value>
                <stringValue>$User.Id005Rk000002bYb4</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Add_CSM_Tier_1_2</name>
        <label>Copy 1 of Add CSM Tier 1&amp;2</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Customer_Success_Manager__c</field>
            <value>
                <elementReference>$User.Id005EX000000IQ0H</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CSM_Assignment</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business closed</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
