partial/quote-pdf-partial/force-app/main/default/flows/Auto_Generate_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Agent_Sort_Order</name>
        <label>Agent Sort Order</label>
        <locationX>534</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Basic_Tier_Speed_0_0_0</name>
        <label>Basic Tier Vars</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Speed</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up to 100 Mbps included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard Support included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgentTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Basic Tier</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Basic_Tier_Speed_0_0_0_0</name>
        <label>Advanced Tier Vars</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Speed</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up to 1 Gbps included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enhanced Support included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgentTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Advanced Tier</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Basic_Tier_Speed_0_0_0_0_0</name>
        <label>Enterprise Tier Vars</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Speed</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up to 10 Gbps included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Premium Support included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgentTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enterprise Tier</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Sort_Order</name>
        <label>Default Sort Order</label>
        <locationX>1062</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>750.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Sort_Order</name>
        <label>Discount Sort Order</label>
        <locationX>798</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Name</name>
        <label>Set Quote Name</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>QuoteName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resilio - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AgentTier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Quote</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>quote_notes_sync_choice</name>
        <choiceText>Sync quote</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quote_notes_sync_business</elementReference>
        </value>
    </choices>
    <choices>
        <name>quote_type_advanced_choice</name>
        <choiceText>Advanced Tier</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quote_notes_advanced_tier</elementReference>
        </value>
    </choices>
    <choices>
        <name>quote_type_basic_choice</name>
        <choiceText>&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Basic Tier&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quote_notes_basic_tier</elementReference>
        </value>
    </choices>
    <choices>
        <description>Enterprise Tier</description>
        <name>quote_type_enterprise_choice</name>
        <choiceText>Enterprise Tier</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quote_notes_enterprise_tier</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Is_Resilio_Sync</name>
        <label>Is Resilio Sync?</label>
        <locationX>446</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>Tier_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sync_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selected_products</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>sync</stringValue>
                </rightValue>
            </conditions>
            <label>Sync Purchase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Selected</name>
        <label>Is Selected?</label>
        <locationX>1062</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Add_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>product_line_items_choice</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Add_Products.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_Order_by_Type_0</targetReference>
            </connector>
            <label>Selected Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sort_Order_by_Type_0</name>
        <label>Sort Order by Type</label>
        <locationX>798</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Default_Sort_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agent_Line_Item_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Products.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agent_Sort_Order</targetReference>
            </connector>
            <label>Agent Line Item</label>
        </rules>
        <rules>
            <name>Discount_Line_Item_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Products.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Discount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_Sort_Order</targetReference>
            </connector>
            <label>Discount Line Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_0</name>
        <label>Tier</label>
        <locationX>732</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Add_support_line_item_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Basic_Tier_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_type_basic_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_support_line_item_0</targetReference>
            </connector>
            <label>Basic Tier</label>
        </rules>
        <rules>
            <name>Advanced_Tier_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_type_advanced_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_support_line_item_0</targetReference>
            </connector>
            <label>Advanced Tier</label>
        </rules>
        <rules>
            <name>Enterprise_Tier_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_type_enterprise_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_API_0</targetReference>
            </connector>
            <label>Enterprise Tier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_0_0</name>
        <label>Tier</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Quote_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Basic_Tier_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_type_basic_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Tier_Speed_0_0_0</targetReference>
            </connector>
            <label>Basic Tier</label>
        </rules>
        <rules>
            <name>Advanced_Tier_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_type_advanced_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Tier_Speed_0_0_0_0</targetReference>
            </connector>
            <label>Advanced Tier</label>
        </rules>
        <rules>
            <name>Enterprise_Tier_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_type_enterprise_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Tier_Speed_0_0_0_0_0</targetReference>
            </connector>
            <label>Enterprise Tier</label>
        </rules>
    </decisions>
    <description>Basic, Advanced, Enterprise pricing - Nov-2021</description>
    <dynamicChoiceSets>
        <name>pricebook_enteries</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 and 2 and (3 or 4 or 5 or 6 or 7)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s1R000004tjM7QAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>sync</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Discount</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Proxy</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>VDI</stringValue>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>expiration_date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <interviewLabel>Auto Generate Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Auto Generate Quote</label>
    <loops>
        <name>Add_Products</name>
        <label>Add Products</label>
        <locationX>446</locationX>
        <locationY>1454</locationY>
        <collectionReference>Get_Product_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Resilio_Sync</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_API_0</name>
        <label>Add API</label>
        <locationX>776</locationX>
        <locationY>2582</locationY>
        <connector>
            <targetReference>Add_support_line_item_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Included.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1R00000PMIjyQAH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Create_a_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>502.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Line_Item_0</name>
        <label>Add Line Item</label>
        <locationX>798</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Add_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Add_Products.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Create_a_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <elementReference>SortOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Add_Products.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Management_Console_Line_Item_0</name>
        <label>Add Management Console Line Item</label>
        <locationX>732</locationX>
        <locationY>2918</locationY>
        <connector>
            <targetReference>Add_WAN_Tier_1_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Included</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1R00000PMIjtQAH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Create_a_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_support_line_item_0</name>
        <label>Add Support Line Item</label>
        <locationX>732</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>Add_Management_Console_Line_Item_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SupportLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1R00000RTyVSQA1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Create_a_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_WAN_Tier_1_0</name>
        <label>Add Speed Tier</label>
        <locationX>732</locationX>
        <locationY>3038</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1R00000RTyVcQAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Create_a_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Quote</name>
        <label>Create a Quote</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Get_the_Price_Book</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingName</field>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>expiration_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>QuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s1R000004tjM7QAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Notes__c</field>
            <value>
                <elementReference>quote_type_options</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_key_to__c</field>
            <value>
                <elementReference>Get_the_opp.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_del_del__c</field>
            <value>
                <stringValue>12 Months</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>send_invoice_to__c</field>
            <value>
                <elementReference>Get_the_opp.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_opp.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Records</name>
        <label>Get Product Records</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s1R000004tjM7QAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_opp</name>
        <label>Get the Opportunity</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Price_Book</name>
        <label>Get the Price Book</label>
        <locationX>446</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s1R000004tjM7QAI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Products</name>
        <label>Select Products</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Quote_Notes</targetReference>
        </connector>
        <fields>
            <name>product_line_items_choice</name>
            <choiceReferences>pricebook_enteries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Products</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Quote_Notes</name>
        <label>Select Quote Type</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tier_0_0</targetReference>
        </connector>
        <fields>
            <name>quote_type_options</name>
            <choiceReferences>quote_type_basic_choice</choiceReferences>
            <choiceReferences>quote_type_advanced_choice</choiceReferences>
            <choiceReferences>quote_type_enterprise_choice</choiceReferences>
            <choiceReferences>quote_notes_sync_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>quote_type_basic_choice</defaultSelectedChoiceReference>
            <fieldText>Select Quote Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_opp</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>quote_notes_advanced_tier</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The price includes the following:
1. Setup, configuration, and training
2. Updates and upgrades
3. Tier 2 Speed Optimization (up to 1 Gbps point-to-point)
4. Enhanced Support (see details here https://www.resilio.com/legal/support-plan/)

Available add-ons:
1. Premium Support
2. Tier 3 Speed Optimization (up to 10 Gbps point-to-point)
3. Object storage integration
4. API access
5. Proxy</text>
    </textTemplates>
    <textTemplates>
        <name>quote_notes_basic_tier</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The price includes the following:
1. Setup, configuration, and training
2. Updates and upgrades
3. Tier 1 Speed Optimization (up to 100 Mbps point-to-point)
4. Standard Support (see details here https://www.resilio.com/legal/support-plan/)

Available add-ons:
1. Enhanced or Premium Support (see details here https://www.resilio.com/legal/support-plan/)
2. Tier 2 or 3 Speed Optimization (up to 10 Gbps point-to-point)
3. Object storage integration
4. API access
5. Proxy</text>
    </textTemplates>
    <textTemplates>
        <name>quote_notes_enterprise_tier</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The price includes the following:
1. Setup, configuration, and training
2. Updates and upgrades
3. Tier 3 Speed Optimization (up to 10 Gbps point-to-point)
4. API access
5. Premium Support (see details here https://www.resilio.com/legal/support-plan/)

Available add-ons:
1. Object storage integration
2. Proxy</text>
    </textTemplates>
    <textTemplates>
        <name>quote_notes_sync_business</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is a quote for Resilio Sync Business.
Quote note #3 and the support plans described there are only available to Resilio Connect customers.</text>
    </textTemplates>
    <variables>
        <name>AgentTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_products</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SortOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>600.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Speed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Up to 100 Mbps</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupportLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Standard Support</stringValue>
        </value>
    </variables>
</Flow>
