partial/quote-pdf-partial/force-app/main/default/flows/Create_Renewal_Opp_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Send_Key_to_Primary_Contact</name>
        <label>Send Key to Primary Contact</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>sendkeyto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_Send_Key_from_Quote</name>
        <label>Use Send Key from Quote</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>sendkeyto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Quote.Send_key_to__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Eval_Send_Key_To_Value</name>
        <label>Eval Send Key To Value</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Use_Send_Key_from_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Key_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Quote.Send_key_to__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Key_to_Primary_Contact</targetReference>
            </connector>
            <label>Send Key Empty</label>
        </rules>
    </decisions>
    <description>added a bunch of missing fields to the copied quote (city, zip, term)</description>
    <environments>Default</environments>
    <formulas>
        <name>close_date</name>
        <dataType>Date</dataType>
        <expression>if({!closedateasnum} &gt; {!licenseexpirationasnum}, {!Get_the_Opportunity.CloseDate} + 365, {!Get_the_Account.License_Expiration_Date__c})</expression>
    </formulas>
    <formulas>
        <name>closedateasnum</name>
        <dataType>Number</dataType>
        <expression>(1+year({!Get_the_Opportunity.CloseDate}))*10000+month({!Get_the_Opportunity.CloseDate})*100+day({!Get_the_Opportunity.CloseDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>licenseexpirationasnum</name>
        <dataType>Number</dataType>
        <expression>year({!Get_the_Account.License_Expiration_Date__c})*10000+month({!Get_the_Account.License_Expiration_Date__c})*100+day({!Get_the_Account.License_Expiration_Date__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>opportunity_name</name>
        <dataType>String</dataType>
        <expression>{!Get_the_Account.Name} + &quot; - Renewal - &quot; + TEXT(YEAR({!close_date}))</expression>
    </formulas>
    <interviewLabel>Create Renewal Opp v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Renewal Opp v2</label>
    <loops>
        <name>Add_Product_Line_Items</name>
        <label>Add Product Line Items</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <collectionReference>Get_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sync_the_New_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_Contacts</name>
        <label>Copy Contacts</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_the_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Contact</name>
        <label>Add Contact</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Copy_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Copy_Contacts.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <elementReference>Copy_Contacts.IsPrimary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Renewal_Opp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>Copy_Contacts.Role</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Line_Item</name>
        <label>Add Line Item</label>
        <locationX>270</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Add_Product_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Add_Product_Line_Items.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <elementReference>Add_Product_Line_Items.Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityLineItemId</field>
            <value>
                <elementReference>Add_Product_Line_Items.OpportunityLineItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Add_Product_Line_Items.PricebookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Add_Product_Line_Items.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Add_Product_Line_Items.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Create_New_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <elementReference>Add_Product_Line_Items.SortOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Add_Product_Line_Items.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Quote</name>
        <label>Create New Quote</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Add_Product_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_the_Quote.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_the_Quote.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingName</field>
            <value>
                <elementReference>Get_the_Quote.BillingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_the_Quote.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_the_Quote.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>opportunity_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Renewal_Opp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_the_Quote.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Notes__c</field>
            <value>
                <elementReference>Get_the_Quote.Quote_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_key_to__c</field>
            <value>
                <elementReference>sendkeyto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>T_C__c</field>
            <value>
                <elementReference>Get_the_Quote.T_C__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Get_the_Quote.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_del_del__c</field>
            <value>
                <elementReference>Get_the_Quote.Term_del_del__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>send_invoice_to__c</field>
            <value>
                <elementReference>Get_the_Quote.send_invoice_to__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Opp</name>
        <label>Create Renewal Opp</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Copy_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_the_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_new__c</field>
            <value>
                <elementReference>Get_the_Opportunity.Industry_new__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Expiration_Date__c</field>
            <value>
                <elementReference>Get_the_Opportunity.License_Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_History__c</field>
            <value>
                <elementReference>Get_the_Opportunity.License_History__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Start_Date__c</field>
            <value>
                <elementReference>Get_the_Opportunity.License_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Summary__c</field>
            <value>
                <elementReference>Get_the_Opportunity.License_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>opportunity_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_the_Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121R000001USvgQAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller__c</field>
            <value>
                <elementReference>Get_the_Opportunity.Reseller__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>4 - Potential Purchase (Renewal)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_months__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use_Case_Category__c</field>
            <value>
                <elementReference>Get_the_Opportunity.Use_Case_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use_Case__c</field>
            <value>
                <elementReference>Get_the_Opportunity.Use_Case__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Renewal_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eval_Send_Key_To_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Account</name>
        <label>Get the Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Opportunity</name>
        <label>Get the Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Quote</name>
        <label>Get the Quote</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Sync_the_New_Quote</name>
        <label>Sync the New Quote</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Renewal_Opp</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>Create_New_Quote</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sendkeyto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
