partial/quote-pdf-partial/force-app/main/default/flows/Create_a_Renewal_Quote_v4.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assignment_3</name>
        <label>Store line item values</label>
        <locationX>528</locationX>
        <locationY>3530</locationY>
        <assignmentItems>
            <assignToReference>lastPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentLineItem.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastLineItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentLineItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentLineItem.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_New_Quote_Product_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_6</name>
        <label>Store new qty</label>
        <locationX>352</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>newQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItemNewQty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_it_a_free_line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Found_new_biz_skip_rest</name>
        <label>Found new biz - skip rest</label>
        <locationX>440</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>skipRestOfOpps</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Won_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Found_prev_renewal_skip_rest</name>
        <label>Found prev renewal - skip rest</label>
        <locationX>880</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>skipRestOfOpps</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Won_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_current_line_item</name>
        <label>Set current line item</label>
        <locationX>528</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>currentLineItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_New_Quote_Product_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_New_Quote_Product_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_identical_to_previous_line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_current_line_item_to_previous</name>
        <label>Set current line item to previous</label>
        <locationX>352</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>currentLineItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_previous_line_item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_the_current_line_item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Continue_to_Next_Opp</name>
        <label>Continue to Next Opp?</label>
        <locationX>792</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Iterate_Won_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Biz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Won_Opps.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_new_biz_skip_rest</targetReference>
            </connector>
            <label>New Biz</label>
        </rules>
        <rules>
            <name>Expansion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Won_Opps.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Won_Opps</targetReference>
            </connector>
            <label>Expansion</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Won_Opps.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_prev_renewal_skip_rest</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ignore_Line_Item</name>
        <label>Ignore Line Item?</label>
        <locationX>968</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Add_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ignore</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Product_Line_Items.Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PCREDIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Product_Line_Items</targetReference>
            </connector>
            <label>Ignore</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_identical_to_previous_line_item</name>
        <label>Is identical to previous line item?</label>
        <locationX>528</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Assignment_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lastProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_New_Quote_Product_Line_Items.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lastPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentLineItem.UnitPrice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lastDiscount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_New_Quote_Product_Line_Items.Discount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_previous_line_item</targetReference>
            </connector>
            <label>Same product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_0_percent_discount</name>
        <label>Is it 0 percent discount</label>
        <locationX>396</locationX>
        <locationY>3938</locationY>
        <defaultConnector>
            <targetReference>X2nd_Iterate_New_Quote_Product_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zero_percent_discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X2nd_Iterate_New_Quote_Product_Line_Items.Discount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_0_discounts</targetReference>
            </connector>
            <label>Zero percent discount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_free_line_item</name>
        <label>Is it a free line item?</label>
        <locationX>352</locationX>
        <locationY>2930</locationY>
        <defaultConnector>
            <targetReference>Update_Qty_of_Previous_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Free_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_New_Quote_Product_Line_Items.UnitPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_current_line_item_to_previous</targetReference>
            </connector>
            <label>Free one</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Rest_of_Ops</name>
        <label>Skip Rest of Ops?</label>
        <locationX>528</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Get_the_Won_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>skipRestOfOpps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Won_Opps</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <description>add quote line item consolidation</description>
    <environments>Default</environments>
    <formulas>
        <name>ChurnedAccountARR</name>
        <dataType>Currency</dataType>
        <expression>-{!currentARR}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LineItemNewQty</name>
        <dataType>Number</dataType>
        <expression>{!lastQty}+{!Iterate_New_Quote_Product_Line_Items.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RenewalARRChange</name>
        <dataType>Currency</dataType>
        <expression>{!Iterate_Won_Opps.ARR__c} - {!currentARR}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>updatedPrice</name>
        <dataType>Number</dataType>
        <expression>(1+{!PriceChange.value}/100)*{!Iterate_New_Quote_Product_Line_Items.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create a Renewal Quote v4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a Renewal Quote v4</label>
    <loops>
        <name>Iterate_New_Quote_Product_Line_Items</name>
        <label>Iterate New Quote Product Line Items</label>
        <locationX>176</locationX>
        <locationY>2282</locationY>
        <collectionReference>Get_New_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_the_price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_the_final_quote_line_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Product_Line_Items</name>
        <label>Iterate Product Line Items</label>
        <locationX>792</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ignore_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Continue_to_Next_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Won_Opps</name>
        <label>Iterate Won Opps</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Won_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Skip_Rest_of_Ops</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_New_Quote_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>X2nd_Iterate_New_Quote_Product_Line_Items</name>
        <label>2nd Iterate New Quote Product Line Items</label>
        <locationX>176</locationX>
        <locationY>3830</locationY>
        <collectionReference>Get_the_final_quote_line_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_it_0_percent_discount</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Line_Item</name>
        <label>Add Line Item</label>
        <locationX>1056</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Iterate_Product_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Iterate_Product_Line_Items.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <elementReference>Iterate_Product_Line_Items.Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityLineItemId</field>
            <value>
                <elementReference>Iterate_Product_Line_Items.OpportunityLineItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Iterate_Product_Line_Items.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Iterate_Product_Line_Items.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Iterate_Product_Line_Items.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Generate_a_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <elementReference>Iterate_Product_Line_Items.SortOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Iterate_Product_Line_Items.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Generate_a_Quote</name>
        <label>Generate a Quote</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Won_Opps</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_the_Most_Recent_Won_Quote.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_the_Most_Recent_Won_Quote.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingName</field>
            <value>
                <elementReference>Get_the_Most_Recent_Won_Quote.BillingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_the_Most_Recent_Won_Quote.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_the_Most_Recent_Won_Quote.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>Get_the_Open_Renewal_Opp.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_the_Open_Renewal_Opp.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_the_Open_Renewal_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_the_Most_Recent_Won_Quote.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Notes__c</field>
            <value>
                <elementReference>Get_the_Most_Recent_Won_Quote.Quote_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_key_to__c</field>
            <value>
                <elementReference>Get_the_Most_Recent_Won_Quote.Send_key_to__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>T_C__c</field>
            <value>
                <elementReference>Get_the_Most_Recent_Won_Quote.T_C__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Get_the_Most_Recent_Won_Quote.Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>send_invoice_to__c</field>
            <value>
                <elementReference>Get_the_Most_Recent_Won_Quote.send_invoice_to__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_the_current_line_item</name>
        <label>Delete the current line item</label>
        <locationX>352</locationX>
        <locationY>3338</locationY>
        <connector>
            <targetReference>Assignment_3</targetReference>
        </connector>
        <inputReference>Iterate_New_Quote_Product_Line_Items</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_New_Quote_Line_Items</name>
        <label>Get New Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_New_Quote_Product_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Generate_a_Quote</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <sortField>SortOrder</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_previous_line_item</name>
        <label>Get previous line item</label>
        <locationX>352</locationX>
        <locationY>2714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lastLineItem.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>792</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Product_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Won_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_final_quote_line_items</name>
        <label>Get the final quote line items</label>
        <locationX>176</locationX>
        <locationY>3722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X2nd_Iterate_New_Quote_Product_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Generate_a_Quote</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Most_Recent_Won_Opp</name>
        <label>Get the Most Recent Won Opp</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Most_Recent_Won_Quote</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Open_Renewal_Opp.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Most_Recent_Won_Quote</name>
        <label>Get the Most Recent Won Quote</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_a_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Most_Recent_Won_Opp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Open_Renewal_Opp</name>
        <label>Get the Open Renewal Opp</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Most_Recent_Won_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Won_Quote</name>
        <label>Get the Won Quote</label>
        <locationX>792</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Won_Opps.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Won_Opps</name>
        <label>Get Won Opps</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Won_Opps</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (3 AND 4))</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Open_Renewal_Opp.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_0_discounts</name>
        <label>Remove 0% discounts</label>
        <locationX>264</locationX>
        <locationY>4046</locationY>
        <connector>
            <targetReference>X2nd_Iterate_New_Quote_Product_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>X2nd_Iterate_New_Quote_Product_Line_Items.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Discount</field>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Qty_of_Previous_Line_Item</name>
        <label>Update Qty of Previous Line Item</label>
        <locationX>440</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>Set_current_line_item_to_previous</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_previous_line_item.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>newQty</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_price</name>
        <label>Update the price</label>
        <locationX>528</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>Set_current_line_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_New_Quote_Product_Line_Items.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>updatedPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <screens>
        <name>Renewal_Configuration</name>
        <label>Renewal Configuration</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_the_Open_Renewal_Opp</targetReference>
        </connector>
        <fields>
            <name>PriceChange</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>-20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step</name>
                <value>
                    <numberValue>0.5</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Price Change Percentage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Renewal_Configuration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>lastDiscount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>lastLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>lastPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>lastProductCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>maxARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>minARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>9999999.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>officialCurrentARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skipRestOfOpps</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
