partial/quote-pdf-partial/force-app/main/default/flows/Generate_PDF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>debug_assignments</name>
        <label>debug assignments</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>url_debug</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDF_Link</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hyperlink_debug</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickableURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>alternative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Turn_On_Debug</name>
        <label>Turn On Debug</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>isDebug</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>ClickableURL</name>
        <dataType>String</dataType>
        <expression>HYPERLINK({!PDF_Link}, &quot;Generate PDF&quot;, &quot;_blank&quot;)</expression>
    </formulas>
    <formulas>
        <name>PDF_Link</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;a href=&apos;/apex/QuotePDFTemplate?id=&quot; &amp; {!IN_QuoteId} &amp; 
&quot;&amp;hideDiscounts=&quot; &amp; IF({!IN_HideDiscounts}, &quot;true&quot;, &quot;false&quot;) &amp; 
&quot;&amp;customMessage=&quot; &amp; URLENCODE({!IN_CustomMessage}) &amp; 
&quot;&apos; target=&apos;_blank&apos;&gt;Click here to generate PDF&lt;/a&gt;&quot;</expression>
    </formulas>
    <interviewLabel>Generate PDF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate PDF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>alternative</name>
        <label>Generate PDF1</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClicktheLink</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(84, 93, 126); font-family: monospace; font-size: 16px; background-color: rgb(229, 237, 255);&quot;&gt;HYPERLINK(&quot;Generate PDF&quot;, &lt;/span&gt;{!PDF_Link})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate_PDF</name>
        <label>Generate PDF</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>debug_assignments</targetReference>
        </connector>
        <fields>
            <name>help</name>
            <fieldText>&lt;p&gt;These fields will not be used.&lt;/p&gt;&lt;p&gt;Quote ID must be passed in. &lt;/p&gt;&lt;p&gt;Use Debug Mode.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quote_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>IN_QuoteId</elementReference>
            </defaultValue>
            <fieldText>Quote ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Hide_Discounts</name>
            <dataType>Boolean</dataType>
            <fieldText>Hide Discounts</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Custom_Message</name>
            <defaultValue>
                <stringValue>{!IN_CustomMessage}</stringValue>
            </defaultValue>
            <fieldText>Custom Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Turn_On_Debug</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>hyperlink_debug</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_CustomMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_HideDiscounts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isDebug</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>url_debug</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
