partial/quote-pdf-partial/force-app/main/default/flows/Generate_Quote_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Agent_Sort_Order_0</name>
        <label>Agent Sort Order</label>
        <locationX>1062</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agent_Sort_Order_0_0</name>
        <label>Agent Sort Order</label>
        <locationX>798</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>API_Sort_Order_0</name>
        <label>API Sort Order</label>
        <locationX>2118</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>760.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flag_API_Addition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Basic_Tier_Speed_0_0_0</name>
        <label>Basic Tier Vars</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Speed</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up to 100 Mbps included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard Support included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgentTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Basic Tier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Capacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up to 3M files, 5 TB included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Basic Tier</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Basic_Tier_Speed_0_0_0_0</name>
        <label>Advanced Tier Vars</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Speed</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up to 1 Gbps included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enhanced Support included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgentTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Advanced Tier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Capacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up to 10M files, 20 TB included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Advanced Tier</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Basic_Tier_Speed_0_0_0_0_0</name>
        <label>Enterprise Tier Vars</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Speed</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up to 10 Gbps included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enhanced Support included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgentTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enterprise Tier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Capacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up to 100M files, 500 TB included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enterprise Tier</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Basic_Tier_Speed_0_0_0_0_0_0</name>
        <label>Ultimate Tier Vars</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Speed</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up to 10 Gbps included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Premium Support included.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgentTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ultimate Tier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Capacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unlimited</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ultimate Tier</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Credit_Sort_Order_0</name>
        <label>Credit Sort Order</label>
        <locationX>1854</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Sort_Order</name>
        <label>Default Sort Order</label>
        <locationX>2382</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>750.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Sort_Order_0</name>
        <label>Discount Sort Order</label>
        <locationX>1590</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Sort_Order_0_0</name>
        <label>Discount Sort Order</label>
        <locationX>1326</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>9000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flag_API_Addition</name>
        <label>Flag API Addition</label>
        <locationX>2118</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>APIAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Name</name>
        <label>Set Quote Name</label>
        <locationX>710</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>QuoteName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resilio - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubscriptionTier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sync_Tier</name>
        <label>Sycn Vars</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resilio Sync</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Name</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>quote_notes_sync_choice</name>
        <choiceText>Sync quote</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quote_notes_sync_business</elementReference>
        </value>
    </choices>
    <choices>
        <name>quote_type_advanced_choice</name>
        <choiceText>Advanced Tier</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quote_notes_advanced_tier</elementReference>
        </value>
    </choices>
    <choices>
        <name>quote_type_basic_choice</name>
        <choiceText>&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Basic Tier&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quote_notes_basic_tier</elementReference>
        </value>
    </choices>
    <choices>
        <description>Enterprise Tier</description>
        <name>quote_type_enterprise_choice</name>
        <choiceText>Enterprise Tier</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quote_notes_enterprise_tier</elementReference>
        </value>
    </choices>
    <choices>
        <name>quote_type_ultimate_choice</name>
        <choiceText>Ultimate Tier</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quote_notes_ultimate_tier</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Agent_Type</name>
        <label>Agent Type</label>
        <locationX>930</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Agent_Sort_Order_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Server_Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Products.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>server</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agent_Sort_Order_0_0</targetReference>
            </connector>
            <label>Server Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>API_Already_Added</name>
        <label>API Already Added?</label>
        <locationX>1084</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Add_API_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>API_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APIAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_support_line_item_0</targetReference>
            </connector>
            <label>API Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Discount_Type</name>
        <label>Discount Type</label>
        <locationX>1458</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Discount_Sort_Order_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Products.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_Sort_Order_0_0</targetReference>
            </connector>
            <label>Partner Discount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_a_primary_contact</name>
        <label>Do we have a primary contact?</label>
        <locationX>1161</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Primary_Contact_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Contact_is_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_opp.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Primary Contact is Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Resilio_Sync</name>
        <label>Is Resilio Sync?</label>
        <locationX>710</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Tier_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sync_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_notes_sync_choice</elementReference>
                </rightValue>
            </conditions>
            <label>Sync Purchase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Selected</name>
        <label>Is Selected?</label>
        <locationX>2151</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Add_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>product_line_items_choice</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Add_Products.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_Order_by_Type_0</targetReference>
            </connector>
            <label>Selected Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sort_Order_by_Type_0</name>
        <label>Sort Order by Type</label>
        <locationX>1656</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Default_Sort_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agent_Line_Item_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Products.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agent_Type</targetReference>
            </connector>
            <label>Agent Line Item</label>
        </rules>
        <rules>
            <name>Discount_Line_Item_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Products.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Discount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_Type</targetReference>
            </connector>
            <label>Discount Line Item</label>
        </rules>
        <rules>
            <name>Credit_Line_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Products.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Sort_Order_0</targetReference>
            </connector>
            <label>Credit Line Item</label>
        </rules>
        <rules>
            <name>API</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Products.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>API</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>API_Sort_Order_0</targetReference>
            </connector>
            <label>API</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_0</name>
        <label>Tier</label>
        <locationX>1040</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Add_support_line_item_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Basic_Tier_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_type_basic_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_support_line_item_0</targetReference>
            </connector>
            <label>Basic Tier</label>
        </rules>
        <rules>
            <name>Advanced_Tier_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_type_advanced_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_support_line_item_0</targetReference>
            </connector>
            <label>Advanced Tier</label>
        </rules>
        <rules>
            <name>Enterprise_or_Ultimate_Tier_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_type_enterprise_choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_type_ultimate_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>API_Already_Added</targetReference>
            </connector>
            <label>Enterprise or Ultimate Tier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_0_0</name>
        <label>Tier</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_Quote_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Basic_Tier_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_type_basic_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Tier_Speed_0_0_0</targetReference>
            </connector>
            <label>Basic Tier</label>
        </rules>
        <rules>
            <name>Advanced_Tier_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_type_advanced_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Tier_Speed_0_0_0_0</targetReference>
            </connector>
            <label>Advanced Tier</label>
        </rules>
        <rules>
            <name>Enterprise_Tier_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_type_enterprise_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Tier_Speed_0_0_0_0_0</targetReference>
            </connector>
            <label>Enterprise Tier</label>
        </rules>
        <rules>
            <name>Ultimate_Tier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_type_ultimate_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Tier_Speed_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Ultimate Tier</label>
        </rules>
        <rules>
            <name>Sync</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quote_notes_sync_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Tier</targetReference>
            </connector>
            <label>Sync</label>
        </rules>
    </decisions>
    <description>Add error message for missing primary contacts and update text to reflect v4 features and 25k minimum for premium support</description>
    <dynamicChoiceSets>
        <name>pricebook_enteries</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 and 2 and (3 or 4 or 5 or 6 or 8 or 9 or 10) and (not 7)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s1R000004tjM7QAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>sync</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Discount</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Proxy</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>pack</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>api</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>file locking</stringValue>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>expiration_date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <interviewLabel>Generate Quote v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Quote v24</label>
    <loops>
        <name>Add_Products</name>
        <label>Add Products</label>
        <locationX>710</locationX>
        <locationY>1406</locationY>
        <collectionReference>Get_Product_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Resilio_Sync</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_API_0_0</name>
        <label>Add API</label>
        <locationX>1172</locationX>
        <locationY>2714</locationY>
        <connector>
            <targetReference>Add_support_line_item_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Included.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1R00000PMIjyQAH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Create_a_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>760.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Capacity_Tier_1_0_0</name>
        <label>Add Capacity Tier</label>
        <locationX>1040</locationX>
        <locationY>3206</locationY>
        <connector>
            <targetReference>Add_Subscription_Tier_1_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Capacity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1R00000RWBiQQAX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Create_a_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>810.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Line_Item_0</name>
        <label>Add Line Item</label>
        <locationX>1656</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Add_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Add_Products.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Create_a_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <elementReference>SortOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Add_Products.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Subscription_Tier_1_0_0_0</name>
        <label>Add Subscription Tier</label>
        <locationX>1040</locationX>
        <locationY>3314</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SubscriptionTier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1R00000RWBiaQAH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Create_a_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_support_line_item_0</name>
        <label>Add Support Line Item</label>
        <locationX>1040</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>Add_WAN_Tier_1_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SupportLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1R00000RTyVSQA1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Create_a_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>900.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_WAN_Tier_1_0</name>
        <label>Add Speed Tier</label>
        <locationX>1040</locationX>
        <locationY>3098</locationY>
        <connector>
            <targetReference>Add_Capacity_Tier_1_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Speed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1R00000RTyVcQAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Create_a_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>800.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Quote</name>
        <label>Create a Quote</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Get_the_Price_Book</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingName</field>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>expiration_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>QuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s1R000004tjM7QAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Notes__c</field>
            <value>
                <elementReference>quote_type_options</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_key_to__c</field>
            <value>
                <elementReference>Get_the_opp.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_del_del__c</field>
            <value>
                <stringValue>12 Months</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>send_invoice_to__c</field>
            <value>
                <elementReference>Get_the_opp.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_opp.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Records</name>
        <label>Get Product Records</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s1R000004tjM7QAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_opp</name>
        <label>Get the Opportunity</label>
        <locationX>1161</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_a_primary_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Price_Book</name>
        <label>Get the Price Book</label>
        <locationX>710</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s1R000004tjM7QAI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_Primary_Contact_Error</name>
        <label>No Primary Contact Error</label>
        <locationX>1612</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoContactError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please set a Primary Contact before running the quote wizard&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Products</name>
        <label>Select Products</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Quote_Notes</targetReference>
        </connector>
        <fields>
            <name>product_line_items_choice</name>
            <choiceReferences>pricebook_enteries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Products</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Quote_Notes</name>
        <label>Select Quote Type</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tier_0_0</targetReference>
        </connector>
        <fields>
            <name>quote_type_options</name>
            <choiceReferences>quote_type_basic_choice</choiceReferences>
            <choiceReferences>quote_type_advanced_choice</choiceReferences>
            <choiceReferences>quote_type_enterprise_choice</choiceReferences>
            <choiceReferences>quote_type_ultimate_choice</choiceReferences>
            <choiceReferences>quote_notes_sync_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>quote_type_basic_choice</defaultSelectedChoiceReference>
            <fieldText>Select Quote Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1035</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>quote_notes_advanced_tier</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The price includes the following:
1. Setup, configuration, and training
2. Updates and upgrades
3. Enhanced Support (see details here https://www.resilio.com/legal/support-plan/)

Available add-ons:
1. Premium Support (see details here https://www.resilio.com/legal/support-plan/)
2. Higher speed optimization tier (up to 10 Gbps point-to-point)
3. Higher data capacity tier (up to unlimited)
4. Object storage integration
5. API access
6. Proxy
7. Distributed file locking
8. Caching</text>
    </textTemplates>
    <textTemplates>
        <name>quote_notes_basic_tier</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The price includes the following:
1. Setup, configuration, and training
2. Updates and upgrades
3. Standard Support (see details here https://www.resilio.com/legal/support-plan/)

Available add-ons:
1. Enhanced or Premium Support (see details here https://www.resilio.com/legal/support-plan/)
2. Higher speed optimization tier (up to 10 Gbps point-to-point)
3. Higher data capacity tier (up to unlimited)
4. Object storage integration
5. API access
6. Proxy
7. Distributed file locking
8. Caching</text>
    </textTemplates>
    <textTemplates>
        <name>quote_notes_enterprise_tier</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The price includes the following:
1. Setup, configuration, and training
2. Updates and upgrades
3. API access
4. Enhanced Support  (see details here https://www.resilio.com/legal/support-plan/)
    (Premium Support requires a minimum spend of $25,000/year.)

Available add-ons:
1. Object storage integration
2. Proxy
3. Distributed file locking
4. Caching</text>
    </textTemplates>
    <textTemplates>
        <name>quote_notes_sync_business</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is a quote for Resilio Sync Business.
Quote note #3 and the support plans described there are only available to Resilio Connect customers.</text>
    </textTemplates>
    <textTemplates>
        <name>quote_notes_ultimate_tier</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The price includes the following:
1. Setup, configuration, and training
2. Updates and upgrades
3. API access
4. Premium Support (see details here https://www.resilio.com/legal/support-plan/)

Available add-ons:
1. Object storage integration
2. Proxy
3. Distributed file locking
4. Caching</text>
    </textTemplates>
    <variables>
        <name>AgentTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>APIAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Capacity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_products</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SortOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>600.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Speed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Up to 100 Mbps</stringValue>
        </value>
    </variables>
    <variables>
        <name>SubscriptionTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupportLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Standard Support</stringValue>
        </value>
    </variables>
</Flow>
