partial/quote-pdf-partial/force-app/main/default/flows/Get_Order_Server_URL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Account_Status</name>
        <label>Account Status</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_an_Active_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Business closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Status_to_POC</targetReference>
            </connector>
            <label>Not an Active Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>POC_Status</name>
        <label>POC Status</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POC_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POC_Started__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Status</targetReference>
            </connector>
            <label>Open Opp and POC Started</label>
        </rules>
    </decisions>
    <description>Removed tracking of Lost POC</description>
    <environments>Default</environments>
    <formulas>
        <name>OrderServerURL</name>
        <dataType>String</dataType>
        <expression>LEFT(RIGHT({!$Record.License_Summary__c},LEN({!$Record.License_Summary__c})-FIND(&apos;https&apos;, {!$Record.License_Summary__c})+1),65)</expression>
    </formulas>
    <interviewLabel>Get Order Server URL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Status When a POC Starts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Account_Status_to_POC</name>
        <label>Set Account Status to POC</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Server_URL</name>
        <label>Update Order Server URL</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>POC_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Order_Server_URL__c</field>
            <value>
                <elementReference>OrderServerURL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Order_Server_URL</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
