partial/quote-pdf-partial/force-app/main/default/flows/Lifecycle_Opp_Contact_Role_Contact_Status_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Active_Customer_Check_Datetime</name>
        <label>Active Customer - Check Datetime</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Active_Customer_Write_Status_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Datetime - Not Blank</defaultConnectorLabel>
        <rules>
            <name>Customer_Datetime_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Active_Customer_Datetime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Customer_Write_Status_and_Datetime</targetReference>
            </connector>
            <label>Customer Datetime - Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opp_Status</name>
        <label>Check Opp Status</label>
        <locationX>1040</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SalesQualified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Potential Opp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Qualified Opp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Accepted_Check_Datetime</targetReference>
            </connector>
            <label>Sales Qualified</label>
        </rules>
        <rules>
            <name>POC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Potential Fit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 - Potential Purchase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Final Details</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POC_Check_Datetime</targetReference>
            </connector>
            <label>POC</label>
        </rules>
        <rules>
            <name>Active_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 7 - Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Customer_Check_Datetime</targetReference>
            </connector>
            <label>Active Customer</label>
        </rules>
        <rules>
            <name>Remarketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 8 - Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recycle_Write_Status_Only</targetReference>
            </connector>
            <label>Remarketing</label>
        </rules>
    </decisions>
    <decisions>
        <name>POC_Check_Datetime</name>
        <label>POC - Check Datetime</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>POC_Write_Status_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Datetime - Not Blank</defaultConnectorLabel>
        <rules>
            <name>POC_Datetime_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.POC_Datetime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POC_Write_Status_and_Datetime</targetReference>
            </connector>
            <label>POC Datetime - Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Accepted_Check_Datetime</name>
        <label>Sales Accepted - Check Datetime</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Sales_Accepted_Write_Status_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Datetime - Not Blank</defaultConnectorLabel>
        <rules>
            <name>Datetime_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Qualified_Datetime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Accepted_Write_Status_and_Datetime</targetReference>
            </connector>
            <label>Datetime - Blank</label>
        </rules>
    </decisions>
    <description>v2 - Realignment statuses</description>
    <environments>Default</environments>
    <interviewLabel>Lifecycle - Opp Contact Role - Contact Status - Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lifecycle - Opp Contact Role - Contact Status - Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Active_Customer_Write_Status_and_Datetime</name>
        <label>Active Customer - Write Status and Datetime</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Customer_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Active_Customer_Write_Status_Only</name>
        <label>Active Customer - Write Status Only</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>POC_Write_Status_and_Datetime</name>
        <label>POC - Write Status and Datetime</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POC_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>POC_Write_Status_Only</name>
        <label>POC - Write Status Only</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Recycle_Write_Status_Only</name>
        <label>Remarketing - Write Status Only</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Remarketing</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Remarketing</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sales_Accepted_Write_Status_and_Datetime</name>
        <label>Sales Qualified - Write Status and Datetime</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualified_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sales_Accepted_Write_Status_Only</name>
        <label>Sales Accepted - Write Status Only</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Opp_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
