partial/quote-pdf-partial/force-app/main/default/flows/Lifecycle_Opportunity_Contact_Account_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Account_Stage</name>
        <label>Check Account Stage</label>
        <locationX>1304</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Accepted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Potential Opp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Qualified Opp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Accepted_Get_Contact_Roles</targetReference>
            </connector>
            <label>Qualified</label>
        </rules>
        <rules>
            <name>POC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Potential Fit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 - Potential Purchase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Final Details</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POC_Get_Contact_Roles</targetReference>
            </connector>
            <label>POC</label>
        </rules>
        <rules>
            <name>Active_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 7 - Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stage 7 - Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Won_Get_Contact_Roles</targetReference>
            </connector>
            <label>Active Customer</label>
        </rules>
        <rules>
            <name>Recycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 8 - Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stage 8 - Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Churn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Business closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recycle_Get_Contact_Roles</targetReference>
            </connector>
            <label>Recycle</label>
        </rules>
    </decisions>
    <decisions>
        <name>POC_Check_Account</name>
        <label>POC - Check Account</label>
        <locationX>930</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>POC_Updated_Account_Status_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account - Not Blank</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Account_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.POC_Datetime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POC_Updated_Account</targetReference>
            </connector>
            <label>Account - Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>POC_Check_Datetime</name>
        <label>POC - Check Datetime</label>
        <locationX>1150</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>POC_Set_Status_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact - Not Blank</defaultConnectorLabel>
        <rules>
            <name>Contact_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>POC_Loop.Contact.POC_Datetime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POC_Set_Status</targetReference>
            </connector>
            <label>Contact - Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Accepted_Check_Account</name>
        <label>Qualified - Check Account</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Sales_Accepted_Update_Status_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account - Not Blank</defaultConnectorLabel>
        <rules>
            <name>Sales_Accepted_Account_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Qualified_Datetime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Accepted_Updated_Account</targetReference>
            </connector>
            <label>Account - Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Accepted_Check_Datetime</name>
        <label>Qualified - Check Datetime</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Sales_Accepted_Set_Status_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact - Not Blank</defaultConnectorLabel>
        <rules>
            <name>Sales_Accepted_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Accepted_Loop.Contact.Qualified_Datetime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Accepted_Set_Status</targetReference>
            </connector>
            <label>Contact - Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Won_Check_Account</name>
        <label>Won - Check Account</label>
        <locationX>1678</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Won_Update_Account_Status_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account - Not Blank</defaultConnectorLabel>
        <rules>
            <name>Won_Account_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Active_Customer_Datetime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Won_Updated_Account</targetReference>
            </connector>
            <label>Won Account - Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Won_Check_Datetime</name>
        <label>Won - Check Datetime</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Won_Set_Status_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact - Not Blank</defaultConnectorLabel>
        <rules>
            <name>WonContact_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Won_Loop.Contact.Active_Customer_Datetime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Won_Set_Status</targetReference>
            </connector>
            <label>Contact - Blank</label>
        </rules>
    </decisions>
    <description>v2 - Lifecycle realignment</description>
    <environments>Default</environments>
    <interviewLabel>Lifecycle - Opportunity - Contact &amp; Account Status - Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lifecycle - Opportunity - Contact &amp; Account Status - Update</label>
    <loops>
        <name>POC_Loop</name>
        <label>POC - Loop</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <collectionReference>POC_Get_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>POC_Check_Datetime</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>POC_Check_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recycle_Loop</name>
        <label>Recycle - Loop</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <collectionReference>Recycle_Get_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recycle_Set_Status_Only</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recycle_Update_Account_Status_Only</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Sales_Accepted_Loop</name>
        <label>Qualified - Loop</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Sales_Accepted_Get_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sales_Accepted_Check_Datetime</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sales_Accepted_Check_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Won_Loop</name>
        <label>Won - Loop</label>
        <locationX>1678</locationX>
        <locationY>539</locationY>
        <collectionReference>Won_Get_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Won_Check_Datetime</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Won_Check_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>POC_Get_Contact_Roles</name>
        <label>POC - Get Contact Roles</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>POC_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recycle_Get_Contact_Roles</name>
        <label>Recycle - Get Contact Roles</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recycle_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Sales_Accepted_Get_Contact_Roles</name>
        <label>Qualified - Get Contact Roles</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_Accepted_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Won_Get_Contact_Roles</name>
        <label>Won - Get Contact Roles</label>
        <locationX>1678</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Won_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>POC_Set_Status</name>
        <label>POC - Set Status</label>
        <locationX>1018</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>POC_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>POC_Loop.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POC_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>POC_Set_Status_Only</name>
        <label>POC - Set Status Only</label>
        <locationX>1282</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>POC_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>POC_Loop.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>POC_Updated_Account</name>
        <label>POC - Updated Account</label>
        <locationX>798</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Business closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>POC_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>POC_Updated_Account_Status_Only</name>
        <label>POC - Updated Account Status Only</label>
        <locationX>1062</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Business closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Recycle_Set_Status_Only</name>
        <label>Recycle - Set Status Only</label>
        <locationX>2250</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Recycle_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recycle_Loop.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Remarketing</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Remarketing</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Recycle_Update_Account_Status_Only</name>
        <label>Recycle - Update Account Status Only</label>
        <locationX>2162</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Remarketing</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Remarketing</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sales_Accepted_Set_Status</name>
        <label>Qualified - Set Status</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Sales_Accepted_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sales_Accepted_Loop.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualified_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sales_Accepted_Set_Status_Only</name>
        <label>Qualified - Set Status Only</label>
        <locationX>534</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Sales_Accepted_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sales_Accepted_Loop.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sales_Accepted_Update_Status_Only</name>
        <label>Qualified - Update Status Only</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Business closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sales_Accepted_Updated_Account</name>
        <label>Qualified - Updated Account</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Business closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Qualified_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Won_Set_Status</name>
        <label>Won - Set Status</label>
        <locationX>1766</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Won_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Won_Loop.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Customer_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Won_Set_Status_Only</name>
        <label>Won - Set Status Only</label>
        <locationX>2030</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Won_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Won_Loop.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Won_Update_Account_Status_Only</name>
        <label>Won - Update Account Status Only</label>
        <locationX>1810</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Business closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Business closed</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Won_Updated_Account</name>
        <label>Won - Updated Account</label>
        <locationX>1546</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Business closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Customer_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Business closed</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_Stage</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stage 7 - Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
