partial/quote-pdf-partial/force-app/main/default/flows/Sync_Quote_Term_to_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Extract_Term_From_Subscription_Term_Text</name>
        <label>Extract Term From Subscription Term Text</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Term</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExtractedTermLength</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Term</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subscription_Tier</name>
        <label>Set Subscription Tier</label>
        <locationX>270</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionTierLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scan_Line_Items.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scan_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Term</name>
        <label>Set Term</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Term</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_Term</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Term_Field</name>
        <label>Check Term Field</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Extract_Term_From_Subscription_Term_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Term_Specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Term</targetReference>
            </connector>
            <label>Term Specified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Tier</name>
        <label>Is it Subscription Tier</label>
        <locationX>402</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Scan_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subscription_Tier_Label</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scan_Line_Items.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t1R000007o8wCQAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subscription_Tier</targetReference>
            </connector>
            <label>Subscription Tier Label</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExtractedTermLength</name>
        <dataType>Number</dataType>
        <expression>Value(Left({!$Record.Term_del_del__c}, find(&quot; &quot;, {!$Record.Term_del_del__c})-1))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Sync Quote Term to Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Quote Term and Tier to Opp</label>
    <loops>
        <name>Scan_Line_Items</name>
        <label>Scan Line Items</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Subscription_Tier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opp_Subscription_Tier</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Line_Items</name>
        <label>Get Line Items</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scan_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Subscription_Tier</name>
        <label>Update Opp Subscription Tier</label>
        <locationX>182</locationX>
        <locationY>1583</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subscription_Tier__c</field>
            <value>
                <elementReference>SubscriptionTierLevel</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Term</name>
        <label>Update Opp Term</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Get_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Term_months__c</field>
            <value>
                <elementReference>$Record.Term__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Term</name>
        <label>Update Quote Term</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Opp_Term</targetReference>
        </connector>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>ExtractedTermLength</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Term_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SubscriptionTierLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </variables>
    <variables>
        <name>Term</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
