partial/quote-pdf-partial/force-app/main/default/flows/Update_Engaged_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Save_Engaged_Date_0</name>
        <label>Save Engaged Date</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>EngagedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_the_Engaged_Change.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_the_Engaged_Change</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Engaged_Event_0</name>
        <label>Engaged Event?</label>
        <locationX>396</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Find_the_Engaged_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Engaged_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_Engaged_Change.NewValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Engaged_Date_0</targetReference>
            </connector>
            <label>Engaged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_String_Updated</name>
        <label>A Status Update?</label>
        <locationX>550</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Find_the_Engaged_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>String_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_Engaged_Change.Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaged_Event_0</targetReference>
            </connector>
            <label>Status Changed</label>
        </rules>
    </decisions>
    <formulas>
        <name>EngagedDate</name>
        <dataType>Date</dataType>
        <expression>Datevalue({!EngagedDateTime})</expression>
    </formulas>
    <interviewLabel>Update Engaged Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Engaged Date</label>
    <loops>
        <name>Find_the_Engaged_Change</name>
        <label>Find the Engaged Change</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Status_History</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Was_a_String_Updated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Engaged_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Status_History</name>
        <label>Get Status History</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_the_Engaged_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LeadHistory</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Engaged_Date</name>
        <label>Set Engaged Date</label>
        <locationX>176</locationX>
        <locationY>1223</locationY>
        <inputAssignments>
            <field>Engaged_Date__c</field>
            <value>
                <elementReference>EngagedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Status_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engaged</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EngagedDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
