partial/quote-pdf-partial/force-app/main/default/flows/Update_ARR_Change_Stats.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Waiting_for_batch_exec</name>
        <label>Waiting for batch exec</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!$Record.Name} is waiting for batch update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Initial_ARR_Values</name>
        <label>Set Initial ARR Values</label>
        <locationX>1898</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>maxARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Won_Opps.ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>minARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Won_Opps.ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Won_Opps.ARR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_ARR_Change_New_Biz</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Max_ARR_1</name>
        <label>Set Max ARR 1</label>
        <locationX>2206</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>maxARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentARR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Min_ARR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Min_ARR_1</name>
        <label>Set Min ARR 1</label>
        <locationX>2206</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>minARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentARR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Won_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Min_to_Max</name>
        <label>Set Min to Max</label>
        <locationX>1502</locationX>
        <locationY>1884</locationY>
        <assignmentItems>
            <assignToReference>minARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>maxARR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Official_Current_ARR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Take_Calculated_Value</name>
        <label>Take Calculated Value</label>
        <locationX>1766</locationX>
        <locationY>2184</locationY>
        <assignmentItems>
            <assignToReference>officialCurrentARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentARR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_ARR_Stats</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Take_Override_Value</name>
        <label>Take Override Value</label>
        <locationX>1502</locationX>
        <locationY>2184</locationY>
        <assignmentItems>
            <assignToReference>officialCurrentARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_ARR_Override__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_ARR_Stats</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Current_ARR_1</name>
        <label>Update Current ARR 1</label>
        <locationX>2162</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>currentARR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Review_Won_Opps.ARR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_ARR_Change_Expansion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Current_ARR_2</name>
        <label>Update Current ARR 2</label>
        <locationX>2426</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>currentARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Won_Opps.ARR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Max_ARR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Current_ARR_Churn</name>
        <label>Update Current ARR - Churn</label>
        <locationX>2690</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>currentARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Max_ARR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Update_Max_ARR</name>
        <label>Copy 1 of Update Max ARR</label>
        <locationX>2338</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Min_ARR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Max</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>maxARR</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>currentARR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Max_ARR_1</targetReference>
            </connector>
            <label>New Max</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Update_Min_ARR</name>
        <label>Copy 1 of Update Min ARR</label>
        <locationX>2338</locationX>
        <locationY>1392</locationY>
        <defaultConnector>
            <targetReference>Review_Won_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>minARR</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>currentARR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Min_ARR_1</targetReference>
            </connector>
            <label>New Low</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Official_Current_ARR</name>
        <label>Find Official Current ARR</label>
        <locationX>1634</locationX>
        <locationY>2076</locationY>
        <defaultConnector>
            <targetReference>Take_Calculated_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ARR_Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_ARR_Override__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>-1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Take_Override_Value</targetReference>
            </connector>
            <label>ARR Override</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Min_ARR_Default</name>
        <label>Remove Min ARR Default</label>
        <locationX>1634</locationX>
        <locationY>1776</locationY>
        <defaultConnector>
            <targetReference>Find_Official_Current_ARR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Min_Larger_Than_Max</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>minARR</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>maxARR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Min_to_Max</targetReference>
            </connector>
            <label>Min Larger Than Max</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_ARR_Counters</name>
        <label>Update ARR Counters</label>
        <locationX>2338</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Max_ARR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zero_ARR_Wins</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Review_Won_Opps.ARR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Max_ARR</targetReference>
            </connector>
            <label>Zero ARR Wins</label>
        </rules>
        <rules>
            <name>New_Biz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Review_Won_Opps.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Initial_ARR_Values</targetReference>
            </connector>
            <label>New Biz</label>
        </rules>
        <rules>
            <name>Expansion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Review_Won_Opps.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_ARR_1</targetReference>
            </connector>
            <label>Expansion</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Review_Won_Opps.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Won_or_Lost</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Won_or_Lost</name>
        <label>Won or Lost</label>
        <locationX>2558</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Update_Account_ARR_Change_Churn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Review_Won_Opps.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_ARR_Change_Renewal</targetReference>
            </connector>
            <label>Won</label>
        </rules>
    </decisions>
    <description>reverted last change</description>
    <environments>Default</environments>
    <formulas>
        <name>ChurnedAccountARR</name>
        <dataType>Currency</dataType>
        <expression>-{!currentARR}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RenewalARRChange</name>
        <dataType>Currency</dataType>
        <expression>{!Review_Won_Opps.ARR__c} - {!currentARR}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update ARR Change Stats {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update ARR Change Stats</label>
    <loops>
        <name>Review_Won_Opps</name>
        <label>Review Won Opps</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_ARR_History</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_ARR_Counters</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Min_ARR_Default</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ARR_History</name>
        <label>Get ARR History</label>
        <locationX>1634</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Won_Opps</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (3 AND 4))</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_ARR_Change_Churn</name>
        <label>Update Account ARR Change - Churn</label>
        <locationX>2690</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_Current_ARR_Churn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Review_Won_Opps.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_ARR_Change__c</field>
            <value>
                <elementReference>ChurnedAccountARR</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_ARR_Change_Expansion</name>
        <label>Update Account ARR Change - Expansion</label>
        <locationX>2162</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Max_ARR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Review_Won_Opps.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_ARR_Change__c</field>
            <value>
                <elementReference>Review_Won_Opps.ARR__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_ARR_Change_New_Biz</name>
        <label>Update Account ARR Change - New Biz</label>
        <locationX>1898</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Max_ARR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Review_Won_Opps.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_ARR_Change__c</field>
            <value>
                <elementReference>Review_Won_Opps.ARR__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_ARR_Change_Renewal</name>
        <label>Update Account ARR Change - Renewal</label>
        <locationX>2426</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_Current_ARR_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Review_Won_Opps.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_ARR_Change__c</field>
            <value>
                <elementReference>RenewalARRChange</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_ARR_Stats</name>
        <label>Update Account ARR Stats</label>
        <locationX>1634</locationX>
        <locationY>2376</locationY>
        <connector>
            <targetReference>Update_Recalc_Timestamps</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_ARR__c</field>
            <value>
                <elementReference>officialCurrentARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_ARR_auto_calculated__c</field>
            <value>
                <elementReference>currentARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Max_ARR__c</field>
            <value>
                <elementReference>maxARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Min_ARR__c</field>
            <value>
                <elementReference>minARR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recalc_Timestamps</name>
        <label>Update Recalc Timestamps</label>
        <locationX>1634</locationX>
        <locationY>2484</locationY>
        <inputAssignments>
            <field>Recalc_Done__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recalc_Needed__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Waiting_for_batch_exec</targetReference>
        </connector>
        <filterLogic>(1 OR 2) and 3</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recalc_Done__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Batched_Execution</name>
            <connector>
                <targetReference>Get_ARR_History</targetReference>
            </connector>
            <label>Batched Execution</label>
            <maxBatchSize>5</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>maxARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>minARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>9999999.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>officialCurrentARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
