partial/quote-pdf-partial/force-app/main/default/flows/Update_Support_Plan_Opportunity_Update_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Get_Support_Plan_Name_0</name>
        <label>Get Support Plan Name</label>
        <locationX>462</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SupportPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Current_Support_Plan.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportPlanDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Current_Support_Plan.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Premium_Support_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Standard_as_the_Default_Value</name>
        <label>Set Standard as the Default Value</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>DetectedSupportPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Current_Support_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Enhanced_0</name>
        <label>Set to Enhanced</label>
        <locationX>528</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>DetectedSupportPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enhanced</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Current_Support_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Premium_0</name>
        <label>Set to Premium</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>DetectedSupportPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Premium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Current_Support_Plan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Enhanced_Support_0</name>
        <label>Enhanced Support</label>
        <locationX>660</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Find_Current_Support_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_it_Enhanced_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SupportPlan</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Enhanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SupportPlanDetails</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Enhanced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Enhanced_0</targetReference>
            </connector>
            <label>Is it Enhanced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_support_line_item_0</name>
        <label>Is it a support line item</label>
        <locationX>715</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Find_Current_Support_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Support_Item_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Current_Support_Plan.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Support_Plan_Name_0</targetReference>
            </connector>
            <label>Support Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Premium_Support_0</name>
        <label>Premium Support</label>
        <locationX>462</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Enhanced_Support_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_it_Premium_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SupportPlan</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SupportPlanDetails</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Premium_0</targetReference>
            </connector>
            <label>Is it Premium</label>
        </rules>
    </decisions>
    <description>only execute when an opp is closed won</description>
    <environments>Default</environments>
    <interviewLabel>Update Support Plan - Opportunity Update Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Support Plan - Opportunity Update Trigger</label>
    <loops>
        <name>Find_Current_Support_Plan</name>
        <label>Find Current Support Plan</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_the_Product_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_it_a_support_line_item_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Opp_Support_Level_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_the_Product_Line_Items</name>
        <label>Get the Product  Line Items</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Standard_as_the_Default_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Opp_Support_Level_0</name>
        <label>Update the Opp Support Level</label>
        <locationX>176</locationX>
        <locationY>1679</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Support_Level__c</field>
            <value>
                <elementReference>DetectedSupportPlan</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Product_Line_Items</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DetectedSupportPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupportPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupportPlanDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
