partial/quote-pdf-partial/force-app/main/default/flows/Update_Opp_Support_Level.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Get_Support_Plan_Name</name>
        <label>Get Support Plan Name</label>
        <locationX>248</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>SupportPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Product_Name.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportPlanDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Product_Name.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Premium_Support</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Enhanced</name>
        <label>Set to Enhanced</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>DetectedSupportPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enhanced</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Opp_Support_Level</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Premium</name>
        <label>Set to Premium</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>DetectedSupportPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Premium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Opp_Support_Level</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Enhanced_Support</name>
        <label>Enhanced Support</label>
        <locationX>446</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Update_the_Opp_Support_Level</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_it_Enhanced</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SupportPlan</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Enhanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SupportPlanDetails</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Enhanced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Enhanced</targetReference>
            </connector>
            <label>Is it Enhanced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_support_line_item</name>
        <label>Is it a support line item</label>
        <locationX>501</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Support_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Product_Name.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Opp_0</targetReference>
            </connector>
            <label>Support Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Premium_Support</name>
        <label>Premium Support</label>
        <locationX>248</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Enhanced_Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_it_Premium</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SupportPlan</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SupportPlanDetails</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Premium</targetReference>
            </connector>
            <label>Is it Premium</label>
        </rules>
    </decisions>
    <interviewLabel>Update Opp Support Level {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opp Support Level</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_the_Opp_0</name>
        <label>Get the Opp</label>
        <locationX>248</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Support_Plan_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Product_Name</name>
        <label>Get the Product Name</label>
        <locationX>501</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_a_support_line_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Opp_Support_Level</name>
        <label>Update the Opp Support Level</label>
        <locationX>248</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Opp_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Support_Level__c</field>
            <value>
                <elementReference>DetectedSupportPlan</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Product_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DetectedSupportPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupportPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupportPlanDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
