partial/quote-pdf-partial/force-app/main/default/flows/Update_Account_TAM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>TAM_is_James</name>
        <label>TAM is James</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>TAM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051R00000KOtlgQAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_find_a_TAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TAM_is_John</name>
        <label>TAM is John</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>TAM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051R00000Hfs8nQAB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_find_a_TAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TAM_is_Zef</name>
        <label>TAM is Zef</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>TAM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005360000027Eo5AAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_find_a_TAM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_we_find_a_TAM</name>
        <label>Did we find a TAM?</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAM_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TAM.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_TAM</targetReference>
            </connector>
            <label>TAM Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_is_the_TAM</name>
        <label>Who is the TAM</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Did_we_find_a_TAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zef</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POC_Installed_By__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Zef</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAM_is_Zef</targetReference>
            </connector>
            <label>Zef</label>
        </rules>
        <rules>
            <name>John</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POC_Installed_By__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>John</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAM_is_John</targetReference>
            </connector>
            <label>John</label>
        </rules>
        <rules>
            <name>James</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POC_Installed_By__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>James</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAM_is_James</targetReference>
            </connector>
            <label>James</label>
        </rules>
    </decisions>
    <interviewLabel>Update Account TAM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account TAM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_TAM</name>
        <label>Update Account TAM</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Technical_Account_Manager__c</field>
            <value>
                <elementReference>TAM.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Who_is_the_TAM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>POC_Installed_By__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>POC_Installed_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TAM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
