partial/quote-pdf-partial/force-app/main/default/flows/Update_Onboarding_Completion_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Onboarding_Status</name>
        <label>Check Onboarding Status</label>
        <locationX>616</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Search_for_Onboarding_Status_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Onboarding_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_Onboarding_Status_Changes.Field</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding_Status__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_Onboarding_Status_Changes</targetReference>
            </connector>
            <label>Onboarding Field</label>
        </rules>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_Onboarding_Status_Changes.NewValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Null</label>
        </rules>
        <rules>
            <name>Onboarding_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_Onboarding_Status_Changes.NewValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deployed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_onboarding_completion_date</targetReference>
            </connector>
            <label>Onboarding Completed</label>
        </rules>
    </decisions>
    <description>reduce number of executions</description>
    <environments>Default</environments>
    <interviewLabel>Update Onboarding Completion Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Onboarding Completion Date</label>
    <loops>
        <name>Search_for_Onboarding_Status_Changes</name>
        <label>Search for Onboarding Status Changes</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Onboarding_Status_History</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Onboarding_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Onboarding_Status_History</name>
        <label>Get Onboarding Status History</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_for_Onboarding_Status_Changes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Status__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountHistory</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_onboarding_completion_date</name>
        <label>Set onboarding completion date</label>
        <locationX>704</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Search_for_Onboarding_Status_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>Onboarding_Completion_Date__c</field>
            <value>
                <elementReference>Search_for_Onboarding_Status_Changes.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Onboarding_Status_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deployed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
